<img class="img-fluid rounded-circle" src="/assets/images/m-shopping.png" alt="">


<mat-nav-list dense class="mt-3">
    <a mat-list-item href="...">
        <span mat-line><span class="mat-h4">Stock</span></span>
        <img matListAvatar src="/assets/images/product.png" alt="">
    </a>
    <a mat-list-item href="...">
        <span mat-line><span class="mat-h4">Shop</span></span>
        <img matListAvatar src="/assets/images/shopping.png" alt="">
    </a>
    <mat-divider class="mt-4"></mat-divider>
    <h3 matSubheader>Dashboard</h3>
    <a mat-list-item href="...">
        <span mat-line><span class="mat-h4">Summarry</span></span>
        <img matListAvatar src="/assets/images/summarry.png" alt="">
    </a>
    <a mat-list-item href="...">
        <span mat-line><span class="mat-h4">Dashboard</span></span>
        <img matListAvatar src="/assets/images/dashboard.png" alt="">
    </a>
</mat-nav-list>